@font-face {
    font-family: exo;
    src: url(../fonts/Exo-VariableFont_wght.ttf);
}
:root{
    font-family: exo;
    font-size: calc(0.45rem + 1vw);
    color: var(--font-clr);
    font-weight: 300;
    text-align: left;
    --primary-clr: #4f61d8;
    --accent-clr: #fffffa;
}
body {
    display: flex;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
}

a {
    font-weight: 500;
}

a:hover {
    cursor: pointer;
}

body > div {
    background-color: var(--primary-clr);
    flex-grow: 2;
}

main p {
    font-size: 0.7rem;
    margin-left: 0.8rem;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 5px;
    box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
}
form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.required{
    vertical-align: top;
    color: rgb(255, 31, 31);
    font-size: 0.8rem;
}

ul {
    list-style: none;
    padding: 0;
    align-self: center;
    margin: 0;
}

li {
    display: flex;
    gap: 2rem;
}

input{
    border: 1px solid var(--primary-clr);
    opacity: 0.5;
    border-radius: 5px;
    font-size: 0.75rem;
    padding-left: 0.2rem;
    box-sizing: border-box;
    width: 10rem;
    height: 1.2rem;
}

input:focus {
    outline: double var(--primary-clr);
}

.input-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label:hover{
    cursor: pointer;
}

button{
    color: var(--accent-clr);
    background-color: var(--primary-clr);
    border-radius: 7px;
    border-style: none;
    text-align: center;
    font-size: 0.8rem;
    display: inline-block;
    width: fit-content;
    padding: 12px;
}

button:hover{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: scale(1.03,1.03);
    opacity: 0.85;
}